html{
min-height: 100%;
}
form{
font-family: 'Press Start 2P', cursive;
color: rgb(255, 255, 255);
text-shadow: 0 0 10px;
}
input, button{
    font-family: 'Press Start 2P', cursive;
    line-height: 40px;
}
body{
    background-image: url("spaceFloppa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#okButton{
    border: 2px solid black;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255);
}
@media (max-width: 600px){
    body{
        background-position: right bottom;
    }
}